---
layout: base.njk
title: "Contacto"
metaDescription: "Contacta conmigo para cualquier duda. Aquí verás todos los medios que tienes para hacerlo. Te responderé lo más rápido que pueda. Presupuesto sin compromiso."
---
<article class="contact-page">
    <section>
        <p>Contacta conmigo para pedirme presupuesto o para cualquier duda que puedas tener.</p>
        <p>Si necesitas un presupuesto, cuanto más me cuentes sobre el evento mejor. 
		Sobretodo me interesará saber el tipo de evento (corporativo, boda, cumpleaños, etc), la fecha, el lugar y, 
		en el caso de que necesites que monte equipo de sonido también necesitaré 
		saber la cantidad de asistentes, la cantidad de espacios a sonorizar, y si es posible, su tamaño.</p>
		<p>A <a href="#nap">pie de página</a> tienes todos mis datos de contacto y de redes sociales.</p>
    </section>
</article>
