<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/images/cropped-granfavicon-150x150.png" sizes="32x32">
    <link rel="icon" href="/assets/images/cropped-granfavicon-275x275.png" sizes="192x192">
    <link rel="apple-touch-icon" href="/assets/images/cropped-granfavicon-275x275.png">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script type="module" src="/assets/js/index.js" defer></script>
    <title>
        {{ siteTitle if siteTitle else title }}
    </title>


</head>
<body>
    <div class="main-wrapper">
        <djm-main-header></djm-main-header>

        <h1>{{ title }}</h1>

        <main>
            {{ content | safe }}
        </main>

        <djm-main-footer></djm-main-footer>
    </div>
</body>
</html>
