---
layout: base.njk
---

<section>
    <djm-video></djm-video>
</section>

<section>
    {{ content | safe }}
</section>

<section>
    <a href="/contacto/"><strong>¡CONTACTA CONMIGO!</strong></a>
</section>

<section>
    <h2>Más información según tu tipo de evento:</h2>
    <nav>
        <ul>
            <li>
                <a href="/bodas/">
                    <img src="/assets/images/djmarian-bodas-275x183.jpg"
                         alt="Páginas de un libro en forma de corazón con un anillo a cada lado">
                    <h3>Boda</h3>
                </a>
            </li>
            <li>
                <a href="/eventos-corporativos/">
                    <img src="/assets/images/djmarian-evento-corporativo-275x183.jpg"
                         alt="Evento corporativo en salón iluminado en rosa">
                    <h3>Evento Corporativo</h3>
                </a>
            </li>
            <li>
                <a href="/fiestas-privadas/">
                    <img src="/assets/images/djmarian-fiestas-privadas-275x183.jpg"
                         alt="Bengala encendida en la oscuridad">
                    <h3>Fiesta Privada</h3>
                </a>
            </li>
            <li>
                <a href="/mezclas-personalizadas/">
                    <img src="/assets/images/djmarian-mezclas-personalizadas-275x183.jpg"
                         alt="Mesa de mezclas de DJ">
                    <h3>Mezcla Personalizada</h3>
                </a>
            </li>
        </ul>
    </nav>
</section>