---
layout: base.njk
---

<section>
    <djm-video></djm-video>
    <noscript>
        <video width="80%" preload="metadata" controls poster="/assets/images/portada-video-djmarian.webp" >
            <track label="Audiodescripción" kind="captions" srclang="es" src="/assets/videos/subtitles/Video-Promocional-Dj-Marian.vtt">
            <source src="/assets/videos/Video-Promocional-Dj-Marian.webm" type="video/webm">
            <source src="/assets/videos/Video-Promocional-Dj-Marian.mp4" type="video/mp4">
            <a target="_blank"
               rel="noopener"
               href="/assets/videos/Video-Promocional-Dj-Marian.webm">
                ¡Mira mi vídeo promocional!
            </a>
        </video>`
    </noscript>
</section>

<section class="speech">
    {{ content | safe }}
</section>

<section>
    <djm-cto-contacta>¡CONTACTA CONMIGO!</djm-cto-contacta>
</section>

<section>
    <h2>Más información según tu tipo de evento:</h2>
    <djm-services-gallery></djm-services-gallery>
</section>