ENVIRONMENT=development  # production | development
WEB_CONTAINER_NAME=myweb
REVIEWS_CONTAINER_NAME=myreviews
CONTAINERS_RESTART_POLICY=unless-stopped  # no | on-failure[:max-retries] | always | unless-stopped
NODE_USER=1000:1000  # UID:GID
REVIEWS_LOCAL_PORT=3000

# TRAEFIK_FQDN and APACHE_LOCAL_PORT are mutually exclusive
TRAEFIK_FQDN="\"example.com\", \"www.example.com\""
APACHE_LOCAL_PORT=9000

