ENVIRONMENT=development  # production | development
APACHE_RESTART=unless-stopped  # no | on-failure[:max-retries] | always | unless-stopped
NODE_USER=1000:1000  # UID:GID

# TRAEFIK_FQDN and LOCAL_PORT are mutually exclusive
TRAEFIK_FQDN="\"example.com\", \"www.example.com\""
LOCAL_PORT=9000
