<section class="review">
    <h2>Mis clientes opinan:</h2>
	<djm-random-review>
		<djm-review>
			<article source="Google">
				<section class="author">Elisabet Badia</section>
				<section class="rating" aria-label="5">
					<span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
				</section>
				<section class="content">
					<blockquote>Experiencia muy buena, en la fiesta de final de curso de nuestro cole, colaboro en todo, muy flexible en las actividades que habian y ambiento y animo en todo monento durante la velada.</blockquote>
				</section>
			</article>
		</djm-review>
	</djm-random-review>
    <a href="/opiniones">Ver más opiniones</a>
</section>
