---
layout: base.njk
title: "Contacto"
metaDescription: "Contacta conmigo para cualquier duda. Aquí verás todos los medios que tienes para hacerlo. Te responderé lo más rápido que pueda. Presupuesto sin compromiso."
---
<article class="contact-page">
    <section>
        <p>Contacta conmigo para pedirme presupuesto o para cualquier duda que puedas tener.</p>
        <p>Si necesitas un presupuesto, dime el tipo de evento o fiesta y podré darte un presupuesto aproximado (o te
            pediré más datos si es necesario).</p>
        <p>Puedes contactarme por:</p>
        <ul>
            <li><a rel="nofollow" href="https://api.whatsapp.com/send?phone=34690626438">Whatsapp</a></li>
            <li>Teléfono en el <a rel="nofollow noopener noreferrer" href="tel:+34 690.626.438" target="_blank">690.626.438</a>
            </li>
            <li>Email en <a rel="nofollow" href="mailto:info@djmarian.com">info@djmarian.com</a></li>
        </ul>
    </section>
</article>
