/*@ RESET */
* {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

body {
    margin: 0;
}


/*@ GENERAL */
:root {
    --layout-margin: 4em;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-text-color: rgb(55, 55, 55);
    --heading-text-color: rgb(26 26 26);
    --frame-color: rgb(10 10 10);
    --cto-text: #ffffff;
    --red: #bc3315;
    --red-dark: #942911;
    --background: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-text-color: rgb(200, 200, 200);
    --heading-text-color: rgb(226, 226, 226);
    --frame-color: rgb(10 10 10);
    --cto-text: #000;
    --red: #bc3315;
    --red-dark: #942911;
    --background: #000;
  }
}

html {
    background: var(--frame-color);
    font-family: sans-serif;
    color: var(--primary-text-color);
}

body {
    margin: min(21px, 1vw);
    background: var(--background);
}

main {
    padding-bottom: 5em;
    max-width: 60vw;
    margin: 0 auto;
    line-height: 1.5;
}

h1 {
    font-size: min(11vw, 2.5rem);
    padding: 0.6em 0em;
    color: var(--heading-text-color);
}

h2 {
    padding-top: 1em;
}

a {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

img {
    max-width: 80vw;
    max-height: 70vh;
}

.fully-hidden {
    display: none;
}

.main-wrapper {
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
}

/*@ HEADER */
header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: min(5vw, 2em);
    padding-bottom: 1.5em;
    border-bottom: 1px solid;
}

header a {
    display: block;
}

header .logo a:hover {
    opacity: 1;
}

@media (prefers-color-scheme: dark) {
    header img {
        filter: invert(0.9);
    }
}

/*@ SITE MENU */
djm-menu {
    margin-top: 0.5em;
}

djm-menu details[open] summary {
    width: fit-content;
    border-bottom: 1px solid black;
    margin: 0 auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 0.5em;
}

.hide-summary summary {
    display: none;
}

.site-menu nav {
    padding-top: 1em;
    padding-bottom: 1em;
}

.site-menu ul {
    display: flex;
    justify-content: center;
    font-size: min(1.1em, 1.8vw);
}

.site-menu a {
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    color: inherit;
}

.site-menu a:hover {
    text-decoration: underline;
}


/*@ FOOTER */
footer {
    border-top: 1px solid;
    padding-bottom: 1em;
}

footer li {
    line-height: 2;
}

footer a {
    color: inherit;
}

footer a:hover {
    opacity: 0.6;
}

footer nav:not(:last-child) {
    padding-top: 2em;
}

.copyright {
    padding-top: 1em;
}


/*@ HOME PAGE */
.speech {
    line-height: 2;
    max-width: 800px;
    margin: 0 auto;
}

.speech img {
    max-width: 300px;
}


/*@ CONTACT PAGE */
.contact-page {
    text-align: start;
}

.contact-page ul {
    padding-left: 1em;
}

.contact-page li {
    list-style-type: disc;
}


/*@ REVIEWS */
.review {
    text-align: start;
    margin: 0 auto;
    width: 80vw;
}

djm-review {
    display: block;
}

djm-review article {
    text-align: start;
    max-width: 800px;
    margin-left: 2vw;
}

djm-review .star {
    vertical-align: baseline;
    display: inline-block;
    width: 15px;
    height: 14px;
    margin: 0 1px;
    background-size: 15px 14px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAcCAYAAAB2+A+pAAABkklEQVR4Ac2Wu6oTQRzGf2JlZ+sFBbVRLMQXEJ9B0mgjgiEm+x8QtBC00FR5A5/B0kfQiIKNhcQmRDCSZGfgtOcU4Vw+SCCE3ZO9c37wwTD/y8fMsLNDUUKbSxJN4x0mNW9sDL3jK03y37gajENp2uEKTREiXgbHkaRxc8aOH2tjb3ynCWY9rq9NJW235qib2Hi9aSzFjlfUTTB+bhtrjjqJX3BDRklSrMg3+exEX3YpGH/SjBXL0kNe21v43BsHalKHvLEvD5IIPe57Y1KD6US9OY2/T7kYjM9VmaqXepKRc97xJhjLEoZL9VAv8jJ3PPSORV5T1aiWMvyLuOyNb1lNlauaqu7mQY4VD6r8945zrHhcjWmXe3nPWDVVrLafdiFIKbF+Fec7SvhUfi863JU0TjAfUYZZl9sJph+nLS6wQmPNbefNjTtltvnthuFeHPGIFBRTzsaT6F0Z41+rMxvO2lxjB8rRy1M1qi360ripay92fPjU4jwZUW5svFet73KLvCwiHgfjAQVRbWw84axxDHyajlb+vInhAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
}

djm-review .author {
    display: inline-block;
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 10px;
}

djm-review .author::after {
    display: inline;
    content: "-";
    margin: 0 0.5ch;
}

djm-review .rating {
    display: inline-block;
}

djm-review .content {
    display: block;
    font-style: italic;
    opacity: 0.9;
    letter-spacing: 0.028em;
    line-height: 1.4;
    padding-top: 1.1em;
    padding-bottom: 1.1em;
    margin-bottom: 0;
    border: none;
}

djm-review .content blockquote {
    margin: 0;
    margin-left: 2vw;
}

djm-review .source {
    font-size: 1em;
    font-weight: bold;
    padding-bottom: 10px;
}

djm-all-reviews li {
    border: 1px solid #8c8989;
    border-radius: 16px;
    margin: 50px 0;
    padding: 10px 20px;
}


/*@ VIDEO */
djm-video video a {
    text-transform: uppercase;
    text-decoration: none;
}

djm-video video a:hover {
    text-decoration: underline;
}


/*@ CTO */
.cto a {
    display: inline-block;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 6px 24px;
    background-color: var(--red);
    border: 1px solid var(--red-dark);
    border-radius: 6px;
    color: var(--cto-text);
    line-height: 1.75;
    text-decoration: none;
    cursor: pointer;
    transition: transform .5s ease;
}

.cto a:hover {
    transform: scale(1.1);
    transition: transform .5s ease;
}


/*@ SERVICES GALLERY */
.services-gallery nav {
    margin: auto;
    max-width: 800px;
}

.services-gallery ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.services-gallery a {
    color: inherit;
    text-decoration: none;
    box-shadow: none
}

.services-gallery a:hover,
.services-gallery a:active {
    text-decoration: underline;
}

.services-gallery li {
    --border-radius: 8px;
    border-radius: var(--border-radius);
    text-align: center;
}

@media (prefers-color-scheme: light) {
    .services-gallery li {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

@media (prefers-color-scheme: dark) {
    .services-gallery li {
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    }
}

.services-gallery img {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    width: 100%;
}

.services-gallery h3 {
    font-weight: 600;
    font-style: normal;
    font-family: serif;
    font-size: 1em;
}


/*@ RELATED ARTICLES */
.related-articles {
    text-align: left;
}
.related-articles li {
    list-style-type: disc;
}

@media only screen and (max-width: 500px){
    body {
        margin: 0;
    }
}

@media only screen and (max-width: 800px){
    .site-menu ul {
        display: initial;
        font-size: 1em;
    }

    .site-menu li {
        padding-top: 0.5em;
    }
}

@media only screen and (max-width: 1000px){
    main {
        max-width: 80vw;
    }
}
