<article>
    <h1>Contacto</h1>
    <section>
        <p>Contacta conmigo para pedirme presupuesto o para cualquier duda que puedas tener.</p>
        <p>Si necesitas un presupuesto, dime el tipo de evento o fiesta y podré darte un presupuesto aproximado (o te
            pediré más datos si es necesario).</p>
        <p>Puedes contactarme por:</p>
        <ul>
            <li><a rel="nofollow" href="https://api.whatsapp.com/send?phone=34690626438">Whatsapp</a></li>
            <li><a href="https://telegram.me/djmarianbcn">Telegram</a></li>
            <li>Teléfono en el <a rel="nofollow noopener noreferrer" href="tel://690.626.438/" target="_blank">690.626.438</a>
            </li>
            <li>Email en <a rel="nofollow" href="mailto:info@djmarian.com">info@djmarian.com</a></li>
            <li>Formulario de contacto, que me envia tu mensaje al mismo email de arriba. (Recibirás una confirmación
                en tu email conforme el mensaje se ha enviado correctamente)
            </li>
        </ul>
    </section>

    <section>
        <h2>Formulario de contacto</h2>
        <p class="note">* Todos los campos son obligatorios</p>
        <form action="" method="post">
            <input class="sugar" tabindex="-1" type="text" name="sugar" value="">
            <input type="text" col="20" id="nametxt" name="nametxt" value="" placeholder="Nombre">
            <input type="text" col="50" id="emailtxt" name="emailtxt" value="" placeholder="Email">
            <input type="text" col="70" id="subjecttxt" name="subjecttxt" value="" placeholder="Asunto">
            <textarea rows="5" id="messagetxt" name="messagetxt" placeholder="Mensaje"></textarea>
            <div>
                <input type="checkbox" name="checkfield" value="on">
                <label for="checkfield">Entiendo que ninguno de estos datos será almacenado y que sólo serán
                    utilizados para enviar el mensaje a través de email.</label>
            </div>
            <input type="submit" id="checkfield" name="submit" value="Enviar">
        </form>
    </section>
</article>