<footer class="site-footer">
    <nav class="social">
        Redes sociales:
        <ul class="logo">
            <li><a target="_blank" rel="noopener" href="https://twitter.com/DjMarianBCN">Twitter</a></li>
            <li><a target="_blank" rel="noopener" href="https://www.facebook.com/DjMarianBCN/">Facebook</a></li>
            <li><a target="_blank" rel="noopener" href="https://www.instagram.com/DjMarianBCN/">Instagram</a></li>
            <li><a target="_blank" rel="noopener" href="https://www.linkedin.com/in/DjMarianBCN">Linkedin</a></li>
            <li><a target="_blank" rel="noopener" href="https://open.spotify.com/user/djmarian">Spotify</a></li>
        </ul>
    </nav>
    <nav class="nap">
        Contacto:
        <ul>
            <li>Telf. <a rel="nofollow noopener noreferrer" href="tel://690.626.438/" target="_blank">690 62 64
                38</a>
            <li><a rel="nofollow" href="https://api.whatsapp.com/send?phone=34690626438">Whatsapp</a></li>
            <li><a rel="nofollow" href="mailto:info@djmarian.com">info@djmarian.com</a></li>
            <li>Carrer Doctor Ferran, 28, 08860, Castelldefels, Barcelona</li>
        </ul>
    </nav>
    <section class="copyright">Copyright © {% year %} · DJ MARIAN</section>
</footer>
