<header>
    <section>
        <a href="/" rel="home">
            <img src="/assets/images/logo-dj-marian.svg"
                 alt="Logo de Dj Marian">
        </a>
    </section>
    {% include 'partials/site-menu.njk' %}
</header>