<article class="review"
         data-rating="{{ review.rating }}"
         data-source="{{ review.source }}">
    <section class="name">{{ review.name }} -</section>
    <section class="rating">
        {% for i in range(0, review.rating) -%}
        <span class="star">*</span>
        {%- endfor %}
    </section>
    <section class="text">
        <blockquote>{{ review.content }}</blockquote>
    </section>
    <a href="/opiniones">Ver más opiniones</a>
</article>