<nav class="site-menu">
    <ul>
        <li><a href="/marian-corbalan">¿Quien Soy?</a></li>
        <li><a href="/bodas">Bodas</a></li>
        <li><a href="/eventos-corporativos">Eventos Corporativos</a></li>
        <li><a href="/fiestas-privadas">Fiestas Privadas</a></li>
        <li><a href="/mezclas-personalizadas">Mezclas Personalizadas</a></li>
        <li><a href="/opiniones">Opiniones</a></li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>
</nav>
