<video 
	width="80%" 
	preload="metadata" 
	poster="/assets/images/portada-video-djmarian.webp"
	controls
	onloadstart="this.removeAttribute('controls')"
	onclick="this.play()"
	onplay="this.setAttribute('controls', '')">
    <track label="Audiodescripción" kind="captions" srclang="es" src="/assets/videos/subtitles/Video-Promocional-Dj-Marian.vtt">
    <source src="/assets/videos/Video-Promocional-Dj-Marian.webm" type="video/webm">
    <source src="/assets/videos/Video-Promocional-Dj-Marian.mp4" type="video/mp4">
    <a target="_blank" 
        rel="noopener" 
        href="/assets/videos/Video-Promocional-Dj-Marian.mp4">
        <h2>¡Mira mi vídeo promocional!</h2>
    </a>
</video>
